<% if current_user && current_user.admin %>
  <% if @user.closed %>
     <h2>
      <%= @user.username %> <span class="badge badge-info">Account closed</span>
    </h2>
    <%= link_to 'Open account', toggle_closed_user_path(@user.id), method: :post, class: 'btn btn-primary' %>
  <% else %>
    <h2>
      <%= @user.username %>
    </h2> 
    <%= link_to 'Close account', toggle_closed_user_path(@user.id), method: :post, class:'btn btn-danger' %>
  <% end %>
<% else %>
   <h2>
    <%= @user.username %>
  </h2>  
<% end %>

<% if @user.ratings.empty? %>
  <p>Has not rated any beers yet</p>
<% else %>
  <p>
    Has made <%= pluralize(@user.ratings.count, 'rating') %> with the average score of <%= round(@user.average_rating) %>
  </p>
  <p> Favorite beer: <%= @user.favorite_beer.name %> </p>
  <p> Favorite brewery: <%= @user.favorite_brewery.name %> </p>
  <p> Preferred style: <%= @user.favorite_style.name %> </p>
<% end %>

<p>
  <% if @user.beer_clubs.any? %>
    Member of the following clubs:
    <% @user.beer_clubs.each do |club| %>
      <li>
        <%= link_to club.name, club %>
      </li>
    <% end %>
  <% end %>
</p>

<% if @user.ratings.any?%>
  <h3>
    Ratings
  </h3>

  <ul>
    <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %> 
        <% if @user == current_user %>
          <%= link_to 'Delete rating', rating_path(rating.id), method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %></li>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @user == current_user %>
  <%= link_to 'Change password', edit_user_path(@user), class:'btn btn-warning' %>
  <%= link_to 'Delete account', @user, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %>
<% end %>
