<p id="notice"><%= notice %></p>

<h1><%= @style.name %></h1>

<p><%= @style.description %></p>

<h4>Beers</h4>

<ul>
  <% @style.beers.each do |beer| %>
    <li>
      <%= link_to beer.name, beer %> by <%= link_to beer.brewery.name, beer.brewery %>
    </li>
  <% end %>
</ul>

<% if current_user %>
  <br>
  <%= link_to 'Edit', edit_style_path(@style) %>
  <!-- <br>
  <%= link_to 'Delete', @style, method: :delete, data: { confirm: 'Are you sure? Please make sure this style has NO BEERS attached to it before deleting!' } %> -->
  <br>
<% end %>
<%= link_to 'Back', styles_path %>