<h1>Beer places search</h1>

 

<%= form_tag places_path do %>
  city <%= text_field_tag :city, params[:city] %>
  <%= submit_tag "Search" %>
<% end %>

<% if @places %>
  <h3>The current weather in <%= @places.first.city %></h3>
  <p>
    <%= @weather['temp_c'] %>°C, <%= @weather['condition']['text'] %>
  </p>

  <img src=<%= @weather['condition']['icon'] %> >

  <p><strong>Wind:</strong> <%= (@weather['wind_kph'] * 0.277777778).round(1) %> m/sec, direction <%= @weather['wind_dir'] %></p>
  <br>

  <h3>Places to get your beer</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <% Place.rendered_fields.each do |field| %>
          <th><%= field %></th>
        <% end %>
      </tr>
    </thead>
    <% @places.each do |place| %>
      <tr>
        <% Place.rendered_fields.each do |field| %>
          <td>
            <% if field == :name %>
              <%= link_to place.name, place_path(place.id) %>
            <% else %>
              <%= place.send(field) %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
